@media screen and (max-width: 850px) {
	.fast-start {
		width: 800px;
	}

	.fast-start-wrapper {
		width: 800px;
	}

	.diagrama-fast-start > div > h1 {
		font-size: 30px;
	}

	.diagrama-fast-start > div > p {
		font-size: 10px;
	}
}