.line-info {
	max-width: 1920px;
	width: 100%;
	height: 130px;
	margin: 0 auto;
	background-color: #121212;
	position: relative;
	top: -1px;
}

.line-wrapper {
	width: 80%;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: 100px;
}

.button-for-buying-course {
	width: 40%;
}

.button-for-buying-course > button {
	background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
	padding: 10px 30px;
	border-radius: 50px;
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
}

.button-for-buying-course > button:hover {
	transition: all 0.4s;
	border-radius: 0px;
}

.info-about-pupils {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.info-about-pupils > .all-pupils {
	display: flex;
	gap: 10px;
}

.info-about-pupils > .end-pupils {
	display: flex;
	gap: 13px;
}

.info-about-pupils p:first-child {
	color: #ffffff;
	opacity: 0.4;
	font-size: 16px;
}

.info-about-pupils p:last-child {
	color: #ffffff;
	font-size: 16px;
}

.progress-money {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.money-from-student {
	display: flex;
	gap: 50px;
}

.money-from-student > p:last-child {
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
}

.money-from-student > p:first-child {
	color: #ffffff;
	opacity: 0.4;
	font-size: 16px;
}

.from-to-money {
	display: flex;
	justify-content: space-between;
}

.progress-div {
	width: 100%;
}

.progress-div > progress {
	width: 100%;
	height: 5px;
	background: #ffffff;
	border-radius: 0px;
}

.progress-div > progress::-webkit-progress-value {
	background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
	height: 5px;
}

.from-to-money > p {
	color: #ffffff;
	opacity: 0.4;
}